// figma https://www.figma.com/file/qZWJeXzXWuIrXjKOtlqHib/yumemi?node-id=10%3A141

.base {
  color: var(--color-text-base);

  &.-base {
    color: var(--color-text-base);
  }

  &.-reverse {
    color: var(--color-text-reverce);
  }

  &.-link {
    color: var(--color-text-link);
  }

  &.-sccess {
    color: var(--color-text-sccess);
  }

  &.-warn {
    color: var(--color-text-warn);
  }

  &.-error {
    color: var(--color-text-error);
  }
}

.heading-1 {
  font-size: 2.8rem;
  font-weight: normal;
  opacity: 1;
}

.heading-2 {
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 1;
}

.text {
  font-size: 1.6rem;
  font-weight: normal;
  opacity: 1;
}

.mini {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 1;
}

.caption {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.6;
}
