.theme-white {
  // background
  --color-bg-base: #FFFFFF;
  --color-bg-main: #F56D21;
  --color-bg-sub: #D3B88F;
  --color-bg-success: #E9FFC5;
  --color-bg-warn: #FFBE41;
  --color-bg-error: #FF4C41;

  // color
  --color-text-base: #333333;
  --color-text-link: #002B9A;
  --color-text-sccess: #009229;
  --color-text-warn: #7B5900;
  --color-text-error: #9B0009;
}
