.theme-white {
  // background
  --color-bg-base: #ffffff;
  --color-bg-main: #f56d21;
  --color-bg-sub: #d3b88f;
  --color-bg-success: #e9ffc5;
  --color-bg-warn: #ffbe41;
  --color-bg-error: #ff4c41;

  // color
  --color-text-base: #333333;
  --color-text-reverce: #ffffff;
  --color-text-link: #002b9a;
  --color-text-sccess: #009229;
  --color-text-warn: #7b5900;
  --color-text-error: #9b0009;
}
