html,
body {
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, 游ゴシック, YuGothic, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

a {
  text-decoration: underline;
}
